body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* 검정색 배경 */
    color: white;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f4f4f4;
    text-align: left;
}

.subject {
    background-color: #ffe4b2; /* 배경색 지정 */
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}