<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Welcome to your Dashboard, <%= session.userName %>!</h1>
    <p>This is your study dashboard.</p>

    <%- include('partials/footer') %>
</body>
</html>