<!DOCTYPE html>
<html>
<head>
    <title>Study Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <h1>Welcome to the Study Management System</h1>
    <p>Organize your study schedule efficiently with these tools:</p>


    <div class="main-buttons">
        <a href="./timetable" class="button">View Timetable</a>
        <a href="./tasks" class="button">Manage Tasks</a>
        <a href="./calendar" class="button">View Calendar</a>
        <a href="./studyTime" class="button">Start Timer</a>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
